.roots {
  display: block;
  //ブレークポイントはroot(htmlにあるcssの変数を参照)
  //SPファースト
  @include media(xs) {}
  @include media(sm) {}
  @include media(md) {}
  @include media(lg) {}
  //PCファースト
  @include media(lg, max) {}
  @include media(md, max) {}
  @include media(sm, max) {}
  @include media(xs, max) {}
  &__element {
    display: block;
    //ホバー(ホバーできる要素のみホバーさせる為)
    @include hover {}
    //ホバー(ホバーできる要素のみホバーさせる為)
    @include hovertext;
    //ホバー(ホバーできる要素のみホバーさせる為)
    @include hoverimg;
    //IEハック
    @include iehack {}
    &.-modify {
      display: block;
    }
  }
}